
body{ 
    background-color: #FEF8E0;
    font-family:  sans-serif;
}
.div-1{
    max-width: 430px;
    margin: 0 auto;
}
.div-2{
    background-color: black;
}

.p-prueba{
    color: black;
    text-align: center;
}

.dv-img-logo{
    text-align: center;
    height: 100%;
    
}

.img-logo{
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
   
}

.img-flyerMenu{
    width: 430px;
    height: 263px;
    
}

.div-menu{
    background-color: #FEF8E0;
}

.title-Principal {
    background-color: #0b5453; /* Color de fondo para el título */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    margin-top:  15px;
    height: 45px;
}

.title-Principal .p-tittleF {
    font-family: Arial, Helvetica, sans-serif;
    color: #FEF8E0; /* Cambiar color del texto a azul */
    font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-top: 5px; /* Añadir margen superior de 5px */
}

.subtittle{
    background-color: #C11717; /* Color de fondo para el título */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Centrar texto */
    margin-top:  15px;
    height: 20px;
    width: 300px;
}
.subtittle .p-subtittle{
    font-family: Arial, Helvetica, sans-serif;
    color: #FEF8E0; /* Cambiar color del texto a azul */
    font-size: 20px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-left: 35px; 

}

.contenido-items {
    
    justify-content: center;
}

.item {
    display: flex;
    max-width: 430px; /* Ajusta el ancho máximo del elemento */
    border-bottom:  solid 0.5px #ccc; /* Agrega un borde para simular una tarjeta */
    overflow: hidden; /* Evita que los elementos se desborden */
    margin: 10px; /* Ajusta el margen para separar las tarjetas */
}

.img-item {
    flex: 1; /* Establece el tamaño flexible para que la imagen ocupe el espacio restante */
    padding: 10px; /* Añade un relleno para separar la imagen del texto */
}

.text-items {
    flex: 1; /* Establece el tamaño flexible para los elementos de texto */
    padding: 10px; /* Añade un relleno para separar los elementos de texto */
}

.img-item img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Ajusta el radio del borde de la imagen */
}

.name-item, .precio-item {
    display: block; /* Hace que los elementos de texto se muestren uno debajo del otro */

}

.name-item{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #3c5d58;
    
}

.precio-item{
    font-size: 16px;
    color: #c11717;
}

/* .contenido-items{
    display: flex; 
    justify-content: center; 
}

.item {
    width: 390px;
    height: 100.3px;
    flex-grow: 0;
    margin: 23px 0 2.7px;
    border-bottom: solid 0.5px rgba(60, 93, 88, 0.42);
    background-color: rgba(217, 217, 217, 0);
  }

.img-item{
    text-align: right;
}

.img-item img{
    width: 123px;
    height: 90px;
    margin: 0 10px 0 67px;
    border-radius: 10px;
} */

@media only screen and (max-width: 430px){
    body{ 
        background-color: #FEF8E0;
        font-family:  sans-serif;
    }
    .div-1{
        max-width: 390px;
        margin: 0 auto;
    }
    .div-2{
        background-color: black;
    }
    
    .p-prueba{
        color: black;
        text-align: center;
    }
    
    .dv-img-logo{
        text-align: center;
        height: 100%;
        
    }
    
    .img-logo{
        width: 75%;
        height: 100%;
        display: block;
        margin: 0 auto;
       
    }
    
    .img-flyerMenu{
        width: 390px;
        height: 263px;
        
    }
    
    .div-menu{
        background-color: #FEF8E0;
    }
    
    .title-Principal {
        background-color: #0b5453; /* Color de fondo para el título */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centrar texto */
        margin-top:  15px;
        height: 45px;
    }
    
    .title-Principal .p-tittleF {
        font-family: Arial, Helvetica, sans-serif;
        color: #FEF8E0; /* Cambiar color del texto a azul */
        font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-top: 5px; /* Añadir margen superior de 5px */
    }
    
    .subtittle{
        background-color: #C11717; /* Color de fondo para el título */
        padding: 10px; /* Espaciado interno */
        text-align: left; /* Centrar texto */
        margin-top:  15px;
        height: 20px;
        width: 300px;
    }
    .subtittle .p-subtittle{
        font-family: Arial, Helvetica, sans-serif;
        color: #FEF8E0; /* Cambiar color del texto a azul */
        font-size: 20px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-left: 35px; 
    
    }
    
    /* .contenido-items {
        display: flex;
        justify-content: center;
    } */
    
    .item {
        display: flex;
        max-width: 390px; /* Ajusta el ancho máximo del elemento */
        border-bottom:  solid 0.5px #ccc; /* Agrega un borde para simular una tarjeta */
        overflow: hidden; /* Evita que los elementos se desborden */
        margin: 10px; /* Ajusta el margen para separar las tarjetas */
    }
    
    .img-item {
        flex: 1; /* Establece el tamaño flexible para que la imagen ocupe el espacio restante */
        padding: 10px; /* Añade un relleno para separar la imagen del texto */
    }
    
    .text-items {
        flex: 1; /* Establece el tamaño flexible para los elementos de texto */
        padding: 10px; /* Añade un relleno para separar los elementos de texto */
    }
    
    .img-item img {
        width: 100%;
        height: auto;
        border-radius: 5px; /* Ajusta el radio del borde de la imagen */
    }
    
    .name-item, .precio-item {
        display: block; /* Hace que los elementos de texto se muestren uno debajo del otro */
    
    }
    
    .name-item{
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 20px;
        color: #3c5d58;
        
    }
    
    .precio-item{
        font-size: 16px;
        color: #c11717;
    }
}


