/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap'); */

body{ 
    background-color: white;
    font-family:  sans-serif;
}
.div-1{
    max-width: 430px;
    margin: 0 auto;
}
.div-2{
    background-color: black;
}

.p-prueba{
    color: black;
    text-align: center;
}

.dv-img-logo{
    text-align: center;
    height: 100%;
    
}

.img-logo{
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
   
}

.img-flyerMenu{
    width: 430px;
    height: 263px;
    
}

.div-menu{
    /* background-color: #FEF8E0; */
    position: relative;
}

.title-Principal {
    /* background-color: #0b5453; Color de fondo para el título */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    margin-top:  15px;
    height: 45px;
}

.title-Principal .p-tittleF {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0b5453; /* Cambiar color del texto a azul */
    font-size: 55px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-top: 5px; /* Añadir margen superior de 5px */
}

.subtittle{
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Centrar texto */
    margin-top:  30px;
    height: 25px;
    width: 300px;
    
}
.subtittle-R{
    /* background-color: #C11717;  */
    padding: 10px; /* Espaciado interno */
    text-align: right; /* Centrar texto */
    margin-top:  15px;
    height: 25px;
    width: 300px;
    margin-left: auto;
}

.subtittle-2{
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Centrar texto */
    margin-top:  15px;
    height: 25px;
    width: 300px;
    
}

.subtittle .p-subtittle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #C11717; /* Cambiar color del texto a azul */
    font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-left: 35px; 
    

}

.subtittle-R .p-subtittle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #C11717; 
    font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-right: 35px; 

}

.subtittle-2 .p-subtittle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #C11717; /* Cambiar color del texto a azul */
    font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
    font-weight: bold; /* Hacer el texto en negrita */
    margin-left: 35px; 

}

.item {
    display: flex;
    max-width: 430px; 
    border-bottom:  solid 0.5px #ccc; 
    overflow: hidden; /* Evita que los elementos se desborden */
    margin: 10px; /* Ajusta el margen para separar las tarjetas */
    height: 100px;
}

.img-item {
    flex: 0.5; /* Establece el tamaño flexible para que la imagen ocupe el espacio restante */
    padding: 10px; /* Añade un relleno para separar la imagen del texto */
    
}

.text-items {
    flex: 1; /* Establece el tamaño flexible para los elementos de texto */
    padding: 10px; /* Añade un relleno para separar los elementos de texto */
}

.img-item.activate{ 
    position: fixed; 
    width: 400px;
    height: 300px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    /* overflow-y: scroll; */
}

.img-item.activate ::after{
    content: '';
    position: fixed; 
    width: 400px;
    height: 300px;
    z-index: 0;
}

.img-item img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Ajusta el radio del borde de la imagen */
    z-index: 1;
}

.name-item, .precio-item {
    display: inline; /* Hace que los elementos de texto se muestren uno debajo del otro */
   
}

.name-item{
    font-family: "Bebas Neue", sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #3c5d58;
    
}

.precio-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #c11717;
    margin-left: 15px;
}

.descripcion p{
    margin-top: 15px;
    text-align: justify;
    
}


/* .contenido-items{
    display: flex; 
    justify-content: center; 
}

.item {
    width: 390px;
    height: 100.3px;
    flex-grow: 0;
    margin: 23px 0 2.7px;
    border-bottom: solid 0.5px rgba(60, 93, 88, 0.42);
    background-color: rgba(217, 217, 217, 0);
  }

.img-item{
    text-align: right;
}

.img-item img{
    width: 123px;
    height: 90px;
    margin: 0 10px 0 67px;
    border-radius: 10px;
} */

@media only screen and (max-width: 490px){
    body{ 
        background-color: white;
        font-family:  sans-serif;
    }
    .div-1{
        max-width: 430px;
        margin: 0 auto;
    }
    .div-2{
        background-color: black;
    }
    
    .p-prueba{
        color: black;
        text-align: center;
    }
    
    .dv-img-logo{
        text-align: center;
        height: 100%;
        width: 450px;
        
    }
    
    .img-logo{
        width: 75%;
        height: 100%;
        display: block;
        margin: 0 auto;
       
    }
    
    .img-flyerMenu{
        width: 430px;
        height: 263px;
        
    }
    
    .div-menu{
        /* background-color: #FEF8E0; */
        position: relative;
    }
    
    .title-Principal {
        /* background-color: #0b5453; Color de fondo para el título */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centrar texto */
        margin-top:  15px;
        height: 45px;
    }
    
    .title-Principal .p-tittleF {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #0b5453; /* Cambiar color del texto a azul */
        font-size: 55px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-top: 5px; /* Añadir margen superior de 5px */
    }
    
    .subtittle{
        padding: 10px; /* Espaciado interno */
        text-align: left; /* Centrar texto */
        margin-top:  30px;
        height: 25px;
        width: 300px;
        
    }
    .subtittle-R{
        /* background-color: #C11717;  */
        padding: 10px; /* Espaciado interno */
        text-align: right; /* Centrar texto */
        margin-top:  15px;
        height: 25px;
        width: 300px;
        margin-left: auto;
    }
    
    .subtittle-2{
        padding: 10px; /* Espaciado interno */
        text-align: left; /* Centrar texto */
        margin-top:  15px;
        height: 25px;
        width: 300px;
        
    }
    
    .subtittle .p-subtittle{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #C11717; /* Cambiar color del texto a azul */
        font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-left: 35px; 
        
    
    }
    
    .subtittle-R .p-subtittle{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #C11717; 
        font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-right: 35px; 
    
    }
    
    .subtittle-2 .p-subtittle{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #C11717; /* Cambiar color del texto a azul */
        font-size: 30px; /* Cambiar tamaño de la fuente a 18px */
        font-weight: bold; /* Hacer el texto en negrita */
        margin-left: 35px; 
    
    }
    
    .item {
        display: flex;
        max-width: 430px; 
        border-bottom:  solid 0.5px #ccc; 
        overflow: hidden; /* Evita que los elementos se desborden */
        margin: 10px; /* Ajusta el margen para separar las tarjetas */
        height: 110px;
    }
    
    .img-item {
        flex: 0.5; 
        padding: 10px; 
    }

   
    .text-items {
        flex: 1; 
        padding: 2px;
    }
    
    .img-item img {
        width: 100%;
        height: auto;
        border-radius: 5px; 
        
    }
    
    .name-item, .precio-item {
        display: inline-block; 
       
    }
    
    .name-item{
        font-family: "Bebas Neue", sans-serif;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 15px;
        color: #3c5d58;
        display: inline-block;
        max-width:150px;
        
        
    }
    
    .precio-item{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        color: #c11717;
        margin-left: 10px;
    }
    
    .descripcion p{
        margin-top: 7px;
        text-align: justify;
        font-size: 13px;
        
    }

    /* Aqui Inicia el POP UP*/

    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        width: 100%;
        height: 100%;  
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0px; 
        padding: 5px; 
      }
      

      
      .popup-img {
        display: block;
        margin: auto;
        width: 100%; /* Imagen ocupa todo el ancho */
        height: auto; /* Se ajusta automáticamente la altura */
        margin-top: 200px;
      }
      
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }
      
      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
}


